:root {
  // mono
  --color-bg-primary: #000000;
  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  // cyberpunk, ref.https://blog.depositphotos.com/15-cyberpunk-color-palettes-for-dystopian-designs.html
  --color-cp-primary: #fe00fe;
  --color-cp-secondary: #7700a6;
  --color-cp-body: #defe47;
  --color-cp-accent-primary: #00b3fe;
  --color-cp-accent-secondary: #0016ee;
  --font-family-primary: 'Chakra Petch', serif;
  --font-family-secondary: 'Share Tech Mono', serif;
  --letter-space-primary: 1.5rem;
  --letter-space-secondary: 1rem;
}

#__next {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 8px;
  background: var(--color-bg-primary);
  font-family: var(--font-family-primary);
  letter-spacing: var(--letter-space-primary);
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 6px;
  }
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-primary);
  ul {
    padding: 0;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  list-style: none;
}
