.FooterWrap {
  position: fixed;
  width: 256px;
  height: 112px;
  background: transparent;
  bottom: 4em;
  right: 4em;
  display: flex;
  justify-content: left;
  align-content: flex-end;
  flex-wrap: wrap;
}

.FooterText {
  width: 100%;
  color: #c2c2c2;
  font-size: 2rem;
  font-family: "Share Tech Mono", sans-serif;
  letter-spacing: 1.5px;
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.FooterTextHeader {
  @extend .FooterText;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2px;
}
