.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #1d1d1d 20%,#48BB35  200%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.OverlayText {
  font-size: 2.5rem;
  font-family: "Share Tech Mono", sans-serif;
  color: #ffffff;
}