.react-dat-gui {
  margin: 0;
  color: #ccc;
  overflow: hidden;
  position: fixed;
  right: 0;
  margin-right: 64px;
  margin-top: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  .dg {
    width: 100%;
    label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;
    }
  }
  ul {
    padding: 0;
    list-style: none;
  }
}