.HeaderWrap {
  position: fixed;
  width: 100%;
  height: 80px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.HeaderTitle {
  height: 32px;
  white-space: nowrap;
  color: #1d1d1d;
  text-decoration: none;
  font-size: 4rem;
  font-family: "Song Myung", serif;
  margin-top: 32px;
  margin-left: 64px;
  letter-spacing: 4px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

@media screen and (max-width: 615px) {
  .HeaderWrap {
    justify-content: center;
  }
  .HeaderTitle {
    margin: 0;
    margin-top: 32px;
    font-size: 3.5rem;
  }
}