.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  padding: 8rem 0;
}

.list {
  position: relative;
  margin: 16rem 0;
  cursor: pointer;
}

.link_right,
.link_left {
  position: relative;
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number_right,
.number_left {
  position: absolute;
  top: -0.25em;
  color: var(--color-text-primary);
  font-size: 16rem;
}

.number_right {
  // transform: rotate(90deg);
  left: 0.25em;
}

.number_left {
  // transform: rotate(-90deg);
  right: 0.25em;
}

.link_right {
  transform: translateX(30%);
}

.link_left {
  transform: translateX(-30%);
}
