.FooterWrap {
  position: fixed;
  width: 256px;
  height: 112px;
  background: transparent;
  bottom: 32px;
  right: 32px;
  display: flex;
  justify-content: left;
  align-content: flex-end;
  flex-wrap: wrap;
}

.FooterText {
  width: 100%;
  color: var(--color-text-primary);
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  font-family: var(--font-family-secondary);
  letter-spacing: var(--letter-space-secondary);
}

.FooterTextHeader {
  @extend .FooterText;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: var(--font-family-primary);
  letter-spacing: var(--letter-space-secondary);
}
