.wrapper {
  position: fixed;
  background: transparent;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: left;
  align-content: flex-end;
  flex-wrap: wrap;
}

.info,
.header {
  width: 100%;
  // color: var(--color-cp-body);
  color: var(--color-text-primary);
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  font-family: var(--font-family-primary);
  // letter-spacing: var(--letter-space-secondary);
}

.header {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--color-cp-body);
  font-family: var(--font-family-primary);
  letter-spacing: var(--letter-space-secondary);
}
