.HeaderTitle {
  position: fixed;
  top: 32px;
  left: 32px;
  white-space: nowrap;
  color: var(--color-text-primary);
  text-decoration: none;
  font-size: 2.5rem;
  font-family: var(--font-family-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
