.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  font-size: 4rem;
  font-family: var(--font-family-primary);
  display: flex;
  align-items: center;
  padding: 4rem;
  background: transparent;
}

.title {
  // color: var(--color-cp-body);
  color: var(--color-text-primary);
  text-decoration: none;
}
