.wrapper {
  position: fixed;
  background: transparent;
  bottom: 0;
  right: 0;
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.link {
  font-family: var(--font-family-primary);
  color: var(--color-cp-body);
  // color: var(--color-text-primary);
  text-decoration: none;
  font-size: 4rem;
}
